@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
  color: #ffffff;
  text-align: justify;
  background: #141414;
  margin: 2px; 
    padding: 0%;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
} 
header h2{
    text-align: center;
}
.button button{
    background: rosybrown;
    align-items: justify;
    font-size: 10px;
    margin: 5px;
}
.home{
  margin-top: 20px;
  
}
.home .title{
  margin-left: 20px;
  font-weight: 1000;
  /*text-align: center;*/
  
  font-size: 20px;
  color: greenyellow;
}


